
body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


a
{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.first-section
{
    flex: auto;
    background: rgba(31,41,55);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 150px;

}

.header
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.header >:first-child
{
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 0px;
    font-weight: bold;
}


.hero
{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5%;
}
.text
{
    display: flex;
    flex: auto;
    width: 45%;
    flex-direction: column;
    justify-content: stretch;
    
}
.text >:first-child
{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text input
{
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    font-weight: bolder;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    border: #F9FAF8 solid 2px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.placeholder
{
    flex: auto;
    background-color: rgb(109,116,125);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    min-height: 200px;

    
}


.second-section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:  1 1 auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 30px 0px;
    padding-bottom: 100px;
    gap: 70px;

}

.subtext-container
{
    display: flex;
    flex: auto;
    gap: 65px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.container .square
{

    width: 4.3em; 
    height: 4.3em; 
    border: #3882f6 solid 3px;
    border-radius: 10%;
}
.container .words
{
    font-size: 18px;
    font-weight: 300;
    /* border: #3882f6 1px dotted; */
    overflow-wrap: break-word;
}



.third-section
{
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px;

}
.quote
{
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
    color: #1f2937;

}

.suntzu
{
    text-align: end;
    font-size: 20px;
    font-style: Bold;
    font-weight: bolder;
    color: #1f2937;

}

.fourth-section
{
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue
{
    background-color: #3882f6;
    padding: 30px 100px;
    border-radius: 10px;
    display: flex;
}
.blue1
{
    color: #F9FAF8;
    font-weight: 800;
    font-size: larger;
}
.blue2
{
    color: #F9FAF8;
    font-weight: 280;
    display: flex;
}
.blue2 div
{
    margin-right: 60px;
}
.blue input
{
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    font-weight: 700;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    border: #F9FAF8 solid 2px;
    border-radius: 10px;
    width: 100px;
    height: 30px;

}

.blank
{
    flex: auto;
}


.text input:hover
{
    background-color: #3882f6;
    cursor: pointer;
}
.blue input:hover
{
    cursor: pointer;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background: rgba(31,41,55);
    color: #E5E7EB;
    font-family: monospace;
    padding: 20px;


}
